.hero {
  margin-top: 54px;
  display: flex;
}

.hero-title {
  max-width: 652px;
}

.hero-text {
  margin-top: 25px;
  max-width: 555px;
}

.btns-block {
  margin-top: 80px;
  display: flex;
  gap: 25px;
}

.img-cont {
  position: relative;
}

.skills-list {
  position: absolute;
}

.skill-item-1 {
  position: absolute;
  top: 0;
}
